.navigation {
  background-color: #000;
  height: 9vh;
  font-size: 1.15rem;
  font-weight: 600;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom-style: solid;
  border-width: 0.5rem;
  border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
}
.container {
  height: 10vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navigation a {
  margin-right: 1rem;
  padding-bottom: 0.2rem;
  text-decoration: none;
  color: rgb(199, 199, 199);
}

.navigation a:hover {
  color: #fff;
}

.navigation a.active {
  color: #fff;
  border-bottom-style: solid;
  border-width: 0.05rem;
  border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
}

.pill {
  background: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff);
  padding: 0.4rem;
  border-radius: 1rem;
  position: relative;
  bottom: 0.5rem;
}

@media (max-width: 590px) {
  .navigation {
    position: absolute;
    /* width: 80%; */
  }
}
